<%- include("partials/header"); -%>

<% if (user) { %>
    <% } if (user.isAdmin === true) { %>
        <h1>you are admin</h1>
    <% } else { %>
        <h1>YOU ARE NOT ADMIN WTF</h1>
    <% } %>

<%- include("partials/footer"); -%>