<%- include("partials/header"); -%>

<header>
    <div class="trollface">
        <img src="/img/troll.jpg" alt="image of trollface">
    </div>
    <div class="header">
        <h2>Blogs</h2>
        <h3>By trolls for trolls</h3>
        <a href="/blogs" class="btn">View Blogs</a>
    </div>
</header>

<%- include("partials/footer"); -%>

// 6:31